:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  --bazic-text-color: #434455;
  --titel-text-color: #2e2f42;
  --white-text-color: #ffffff;
  --accent-txt-color: #4d5ae5;
  --hove-ocean-color: #404bbf;
  --social-icon-color: #f4f4fd;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: currentColor;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
body {
  font-family: 'Roboto', sans-serif;
 
  font-size: 16px;

  color: #434455;
  background-color: #ffffff;
}
/*portfolio*/
.heder {
  background: #ffffff;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}
.heder .logo-link {
  padding-top: 25.5px;
  padding-bottom: 25.5px;
}
.nov {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
}
.logo-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.logo-black {
  color: #2e2f42;
}
.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.menu-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}
.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}
.contakt {
  margin-left: auto;
}
.contact-list {
  display: flex;
  gap: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.contakt-link:hover,
.contakt-link:focus {
  color: #404bbf;
}
.contakt-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}
/*hero*/
.hero {
  background: #2e2f42;
  text-align: center;
  padding: 188px 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero/people-office.jpg);
}
.hero-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-transform: inherit;
  color: #ffffff;
  max-width: 496px;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
}
.hero-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
}
.projects-section {
  padding: 96px 0 120px;
}
.projects-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.projects-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  background: #f4f4fd;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: 1px solid #e7e9fc;
  color: #4d5ae5;
  cursor: pointer;
  padding: 12px 24px;
}

.projects-btn:hover,
.projects-btn:focus {
  background: #404bbf;
  color: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
}

.hero-button:hover,
.hero-button:focus {
  background: #404bbf;
}
.portfolio-link{
  display: block;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-photo{
  position: relative;
  overflow: hidden;
}
.portfolio-border{
  
}
.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: #4D5AE5;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform var(--animation);
}
.overlay-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #F4F4FD;
  position: absolute;
  user-select: none;
  letter-spacing: 0.02em;
  padding-top: 40px;
  padding-bottom:164px;
  padding-left: 32px;
  padding-right: 32px;
}
.portfolio-link:hover .overlay {
  transform: translateY(0%);
  opacity: 1;
}
.portfolio-link:focus .overlay {
  transform: translateY(0%);
  opacity: 1;
}
.portfolio-link:hover,
.portfolio-link:focus{
display: block;
border: 1px solid #F4F4FD;
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

}
.portfolio-list-item {
  width: calc((100% - 48px) / 3);
}
.portfolio-border {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-title {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 8px;
}
.portfolio-article{
  font-family: 'Roboto', sans-serif;
}
/*what are*/
.advantades {
  padding: 120px 0;
}
.advantades-cection {
  display: flex;
  gap: 24px;
}
.adventages-icons{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}
.advantades-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.advantades-article {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}
.advantades-item {
  width: calc((100% - 72px) / 4);
}
/*gallery*/
.item {
  padding-bottom: 120px;
}
.section-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.work-list {
  display: flex;
  gap: 24px;
}
.work-list-item {
  width: calc((100% - 48px) / 3);
}
/*<!-- Our Team -->*/
.work {
  background: #f4f4fd;
  padding: 120px 0;
}
.command-list {
  display: flex;
  gap: 24px;
 
}
.command-subtitle {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.command-item {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  margin-bottom: 8px;
}
.command-list-item {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
/*socials*/
.socilas {
 display: flex;
justify-content: center;
  gap: 24px;
  
}
.socials-item {
  display: flex;
  align-items: center;
  justify-content: center;
    width: 40px;
    height: 40px;
    background-color:#4d5ae5;
   border-radius: 50%;
   fill: #F4F4FD;

}
.socials-item:hover,
.socials-item:focus{
  background-color: #404bbf;
}
social-content-item{
 
}
/*fifth section*/
.social-media{
  padding-top: 120px;
  padding-bottom: 120px;
}
.Feedback{display: flex;
  justify-content: center;
  font-size: 36px;
  color: #2e2f42;
  margin-bottom: 72px;
  line-height: 1.1
}
















.clients{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.class-clitnys{
   display: flex;
  align-items: center;
  justify-content: center;
color: #8E8F99;
width: 168px;
height: 88px;
border: 1px solid #8E8F99;
border-radius: 4px;


} 
.class-clitnys:hover,
.class-clitnys:focus{
  border-color: #404bbf;
  color: #404bbf;
}
.client-win{
  fill: currentColor;
}
.class-clitnys:hover .client-win{
fill: #404bbf;
}
.class-clitnys:focus .client-win{
fill: #404bbf;
}









.contakt {
  font-style: normal;
}
.command-border {
  padding: 32px 0px;
  border-radius: 0px 0px 4px 4px;
}
/*portfolio-list*/
.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-article {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/*footer*/
.footer-adress {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}
.logo-white {
  color: #f4f4fd;
}
.adress-link {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.card-set{
  display: flex;
  align-items: baseline;
 
}
.footer-container{
   margin-right: 120px;
}
.footsoc{
display: flex;
gap: 16px;
}
.footer-social{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;

}
.footer-item {
  display: flex;
  align-items: center;
  justify-content: center;
    width: 40px;
    height: 40px;
    background-color:#4d5ae5;
   border-radius: 50%;
   fill: #F4F4FD;
}
.footer-item:hover,
.footer-item:focus{
  background-color: #31d0aa;}
  /*MODAL WINDOW*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity  250ms cubic-bezier(0.4, 0, 0.2, 1), visibility  250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.3) rotate(1turn);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  width: 408px;
  height: 576px;
  background: #FCFCFC;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform var(--animation), opacity var(--animation);
  opacity: 1;
}

.modal-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--white-bg-cl);
  padding: 0;
  cursor: pointer;
}
.modal-btn-icon {
}